<div class="container " >
  <%= render "members/shared/error_messages", resource: resource %>
  <div class="row mt-5 mb-5 ml-3">
    <div class="col-8 card" >
    <%= form_with model: @member, url: member_session_path, local: true do |f| %>
      <h4 class="card-header text-center mt-1">ログイン</h4></br>

      <div class="mt-2">
        <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"メールアドレス",class:"form-control border-dark" %>
      </div>
      <div class="mt-2">
        <%= f.password_field :password, autocomplete: "current-password",placeholder:"パスワード（６文字以上）",class:"form-control border-dark" %>
      </div>
      <div class="mt-2">
        <%= f.submit "ログイン", class:"btn btn-outline-dark btn-block mt-3 "%>
      </div>
      <div class="text-center  mt-2 mb-3">
        <%= link_to "アカウントをお持ちでない方", new_member_registration_path,class:"text-dark" ,'data-turbolinks': false %>
        <%#= link_to "パスワードをお忘れの方",class:"text-dark" %>
      </div>
    <% end %>
    </div>
  </div>
</div>




