<div class="container px-0" >
  <%= render "members/shared/error_messages", resource: resource %>
  <div class="row mt-2 mb-2 ml-5">
    <div class="col-7 card" >
    <%= form_with model: @member, url: member_registration_path, id: 'new_member', class: 'new_member', local: true do |f| %>
      <h4 class="card-header text-center mt-1">新規アカウント作成</h4></br>
      <div class=" mt-2">
        <%= f.text_field :nickname, autofocus: true,placeholder:"ユーザー名",class:"form-control border-dark"%>
      </div>
      <div class="mt-2">
        <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"メールアドレス",class:"form-control border-dark" %>
      </div>
      <div class="mt-2">
        <%= f.password_field :password, autocomplete: "new-password",placeholder:"パスワード（６文字以上）",class:"form-control border-dark" %>
      </div>
      <div class="mt-2">
        <%= f.password_field :password_confirmation, autocomplete: "new-password" ,placeholder:"パスワード確認用",class:"form-control border-dark"%>
      </div>
      <div class="mt-2">
        <%= f.text_field :hobby ,placeholder:"趣味",class:"form-control border-dark"%>
      </div>
      
      <div class=" mt-2">
         <small class="form-text">本人確認情報</small>
        <%= f.text_field :last_name, autofocus: true,placeholder:"姓",class:"form-control border-dark"%>
        <%= f.text_field :first_name, autofocus: true,placeholder:"名",class:"form-control border-dark"%>
      </div>
      <div class=" mt-2">
        <%= f.text_field :last_name_kana, autofocus: true , autofocus: true,placeholder:"セイ",class:"form-control border-dark"%>
        <%= f.text_field :first_name_kana, autofocus: true , autofocus: true,placeholder:"メイ",class:"form-control border-dark "%>
      </div>
      <div class="mt-2">
        <small class="form-text text-danger">※生年月日・性別は登録後の変更はできません</small>
        <div class="col-12"><%= f.label :生年月日 %></div>
        <div class="col-12">
          <%= raw sprintf(f.date_select(:birthday,
                  use_month_numbers: true,
                  start_year:        1950,
                  end_year:          Time.now.year,
                  default:           Date.today,
                  date_separator:    '%s'), # 年月日区切りをそれぞれ指定
                  '年 ', '月 ') + '日' %>
        </div>
      </div>
      <div class="mt-2">
        <div class="col-12"><%= f.label :性別 ,class:"form-label" %></div>
        <div class="col-6"><%= f.collection_radio_buttons :sex,Member.sexes_i18n,:first,:last, autofocus: true,placeholder:"令和",class:"form-control border-dark" %></div>
      </div>
      <div class="mt-2">
        <%= f.submit "アカウント作成", class:"btn btn-outline-dark btn-block mt-3 "%>
      </div>
      <div class="text-center  mt-2 mb-3">
        <%= link_to "アカウントをお持ちの方", new_member_session_path ,class:"text-dark" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
</div>