<h2>Sign up</h2>

 <%= form_with model: @member, url: member_registration_path, id: 'new_member', class: 'new_member', local: true do |f| %>
  <%= render "members/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :ニックネーム %><br />
    <%= f.text_field :nickname, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :性別 %><br />
    <%= f.collection_radio_buttons :sex,Member.sexes_i18n,:first,:last %>
  </div>
  
  
  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    (<%= @minimum_password_length %>文字以上)
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :パスワード（確認用）%><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  
  <div class="field">
    <%= f.label :名前（全角） %><br />
    <%= f.text_field :last_name, autofocus: true %>
    <%= f.text_field :first_name, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :名前カナ（全角） %><br />
    <%= f.text_field :last_name_kana, autofocus: true %>
    <%= f.text_field :first_name_kana, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :生年月日 %><br />
    <%= f.date_select :birthday, use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1) %>
  </div>
  
  
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "members/shared/links" %>
