
<% visitor = notification.visitor %>
<% request = notification.request %>

<div class=" mt-2 border-bottom">
  <%= link_to member_path(notification.visitor) do %>
    <%= attachment_image_tag visitor, :image, fallback: "noimage.jpg",size:"35x35" ,class:"rounded-circle border border-dark"%>
  <% end %>
  <p class="text-dark">
    <%= notification_form(notification) %><%= " (#{time_ago_in_words(notification.created_at)}å‰)" %>
  </p>
  <p>
  <% if !@comment.nil? %>
    <p><%= @comment %></p>
  <% end %>
</div>