<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="my-5"><%= @member.nickname %>さんの会員詳細</h4>
        <div class="row">
          <div class="offset-1 col-3 mb-3">会員ID</div>
          <div class="col-8"><%= @member.id %></div>

          <div class="offset-1 col-3 mb-3">写真</div>
          <div class="col-8"><%= attachment_image_tag @member, :image,fallback: "noimage.jpg",size:"50x50" ,class:"rounded-circle border border-dark"%></div>

          <div class="offset-1 col-3 mb-3">ユーザー名</div>
          <div class="col-8"><%= @member.nickname %></div>

          <div class="offset-1 col-3 mb-3">性別</div>
          <div class="col-8"><%= @member.sex_i18n %></div>

          <div class="offset-1 col-3 mb-3 ">メールアドレス</div>
          <div class="col-8"><%= @member.email %></div>

          <div class="offset-1 col-3 mb-3">会員ステータス</div>
          <div class="col-8">
            <% if @member.is_deleted? %>
              <span class="text-danger font-weight-bold">退会</span>
            <% else %>
              <span class="text-dark font-weight-bold">有効</span>
            <% end %>
          </div>
        </div>

      <div class="offset-1 col-8 mt-3">
      <%= link_to "編集する",edit_admins_member_path(@member),class:"btn btn-outline-dark mr-5" %>
      <%#= link_to "リクエスト一覧",admins_requests_path ,class:"btn btn-outline-dark mr-5" %>
      </div>

    </div>

</div>
