<% @requests.each do |req| %>
<div><%= link_to req.title,request_path(req) %></div>
<div><%= req.schedule %></div>
<div><%= req.location %></div>
<div><%= req.content %></div>
<% end %>
<%= paginate @requests %>