<%= form_with model:@request,local:true do |f| %>
<div class="container">
  <%= render 'members/requests/error', request: @request %>
  <div class="row mt-3 mb-3">
    <div class="col-2">
     <h5>投稿作成</h5>
    </div> 
    <div class="offset-7"></div>
    <div class="col-3 justify-content-end">
       <input type="submit" value="&#xf064; 投稿" class="fas fa-share btn btn-lg btn-outline-dark btn-block" >
    </div>
  </div>

  <div class="row">
    <div class="col-5">
      <div class="form-group">
        <%= f.label :タイトル %>
        <%= f.text_field :title ,placeholder:"例（DIY始めたいです！）" ,class:"form-control" %>
      </div>
      <div class="form-group ">
        <%= f.label :予定日 %>
        <%= f.date_field :schedule ,class:"form-control",min: Date.current , max: Date.current.since(3.months)  %>
        <small class="form-text text-muted">本日から3ヶ月後まで指定可能です。</small>
      </div>
      <div class="form-group ">
        <%= f.label :予定場所 %>
        <%=f.text_field :location ,placeholder:"例（東京・梅田・〇〇公園）" ,class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :タグ %>
        <%= f.text_field :caption, class:"form-control"%>
        <small class="form-text text-muted">※1つずつに#(ハッシュ)を入力してください。(例:#タグ1#タグ2#タグ3)</small>
      </div>
    </div>
    <div class="col-7">
      <div class="form-group ">
        <%= f.label :詳細 %>
        <%= f.text_area :content ,rows:"13" ,placeholder:"（詳しく記入するとマッチングしやすくなります）" , class:"form-control" %>
      </div>
    </div>
  </div>
</div>
<% end %>
