<% en = Entry.find_by(member_id: current_member.id, request_id: params[:id]) %>
<div class="container">
  <div class="card mt-5">
    <!--<div class="row mt-3">-->
      <div class="card-header bg-dark text-white ">
        <div class="h3"><%= @request.title %></div>
        <div id="like-btn_<%= @request.id %>" class="text-right">
          <%= render 'members/likes/like-btn', request: @request %>
        </div>
      </div>
      <div class="card-body">
        <table class="table">
          <tbody>
           <tr>
             <th><%= "予定日 " %></th>
             <th><%= @request.schedule %></th>
           </tr>
           <tr>
             <th><%= "場所" %></th>
             <th><%= @request.location %></th>
           </tr>
           <tr>
             <th><%= "詳細  " %></th>
             <th><%= safe_join(@request.content.split("\n"),tag(:br)) unless @request.content.nil? %></th>
           </tr>
           <tr>
             <th><%= "ステータス 最後に消す！" %></th>
             <th><%= @request.is_active_i18n %></th>
           </tr>
          </tbody>
        </table>
      <div class="card-footer bg-transparent">
        <div class="h5 text-black"><%= render_with_tags(@request.caption) %></div>
        <div class="text-right">
        <% if @request.member_id == current_member.id %>
          <%= link_to "リクエスト編集",edit_request_path(@request) ,class:"btn btn-outline-dark" %>
          <%= link_to "リクエスト削除",request_path(@request), class:"btn btn-outline-dark",method: :delete,"data-confirm" => "本当に削除しますか？" %>
        <% else %>
          <% if @request.is_active == "release" %>
            <%= form_with model: @request,url: request_is_active_release_path(@request),method: :patch,local:true do |f| %>
              <%= f.submit "リクエスト受諾",class:"btn btn-outline-dark", "data-confirm" => "取引を開始しますか？" %>
            <% end %>
          <% elsif @request.is_active == "in_transaction" %>
            <%= link_to "取引画面へ", room_path(en.room_id) ,class:"btn btn-outline-dark" %>
          <% else %>
            <div></div>
          <% end %>
        <% end %>
        </div>
      </div>
  </div>
</div>
<div class="container mt-2">
  <div id="comments_index">
    <%= render 'members/comments/index',comments: @comments  %>
  </div>
</div>
  <div class="row mt-2 mb-3">
    <% if member_signed_in? %>
      <%= render 'members/comments/form', request: @request, comment: @comment %>
    <% else %>
      <%= link_to "コメントをするにはログインをしてください", new_member_session_path %>
    <% end %>
  </div>
</div>