
<tr class="container">
  <tr class="row mt-3">

<table class="table">
<tr>
  <%= @request.title %>
</tr>

<tr>
  <%= @request.schedule %>
</tr>
<tr>
  <%= @request.location %>
</tr>
<tr>
  <%= @request.content %>
</tr>
<tr>
  ステータス:
  <%= @request.is_active %>
</tr>
<tr>
<%= render_with_tags(@request.caption) %>
</tr>
</table>

<div id="like-btn_<%= @request.id %>">
  <%= render 'members/likes/like-btn', request: @request %>
</div>

<div>
  <% unless @member == current_member %>  
    <%= form_with model: @request,url: request_is_active_release_path(@request),method: :patch,local:true do |f| %>
    <%= f.submit "リクエスト受諾" %>
    <% end %>
  <% else %>
   <div></div>
  <% end %>

  <%#= link_to "リクエスト受諾",request_is_active_release_path(@request),method: :patch,"data-confirm" => "リクエストを受諾しますか？" %>


</div>

<div class="row">
<div id="comments_index">
  <%= render 'members/comments/index',comments: @comments  %>
</div>

<div>
  <%= render 'members/comments/form', request: @request, comment: @comment %>
</div>
</div>

<% if @request.member == current_member %>
<%= link_to "リクエスト編集",edit_request_path(@request) %>
<%= link_to "リクエスト削除",request_path(@request), method: :delete,"data-confirm" => "本当に削除しますか？" %>
<% end %>
 </div>
</div>