<div class="container">
  <div class="row mt-3">
    

<div>
  <%= @request.title %>
</div>

<div>
  <%= @request.schedule %>
</div>
<div>
  <%= @request.location %>
</div>
<div>
  <%= @request.content %>
</div>
<div>
  <%= @request.is_active %>
</div>
<div>
  <% @request_tags.each  do |tag| %>
    <%=  tag.name %>
  <% end %>
</div>

<div id="like-btn_<%= @request.id %>">
  <%= render 'members/likes/like-btn', request: @request %>
</div>

<div>
  <%= link_to "リクエスト受諾",requests_path %>
</div>
</div>

<div class="row">
<div id="comments_index">
  <%= render 'members/comments/index',comments: @comments  %>
</div>

<div>
  <%= render 'members/comments/form', request: @request, comment: @comment %>
</div>
</div>

<% if @request.member == current_member %>
<%= link_to "リクエスト編集",edit_request_path(@request) %>
<%= link_to "リクエスト削除",request_path(@request), method: :delete,"data-confirm" => "本当に削除しますか？" %>
<% end %>
 </div>
</div>