<!--current_memberの投稿のみ-->
<div class="container mt-5 px-0">
  <div class="row">
    <% if @member.id == current_member.id %>
      <div class="h4">MY投稿</div>
    <% else %>
      <div class="h4"><%= @member.nickname %>の投稿</div>
    <% end %>
  </div>
  <div class="row">
    <% @requests.each do |req| %>
    <div class="col-sm col-lg-4 mt-3">
      <div class="card h-100" style="width: 20rem;">
        <div class="card-header h4"><%= req.title.truncate(10) %></div>
        <div class="card-body">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th><%= "ステータス" %></th>
                <% if req.is_active == "release_stop" %>
                  <th class="text-danger"><%= req.is_active_i18n %></th>
                <% else %>
                  <th><%= req.is_active_i18n %></th>
                <% end %>
              </tr>
              <tr>
                <th><%= "予定日" %></th>
                <th><%= req.schedule %></th>
              </tr>
              <tr>
                <th><%= "場所" %></th>
                <th><%= req.location.truncate(10) %></th>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <%= link_to "詳細を見る",request_path(req),class:"btn btn-outline-dark btn-block" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="row mt-3 mb-3 justify-content-center"> <%= paginate @requests %></div>
</div>



