<div>
 <%= "プロフィール写真" %>
 <%= attachment_image_tag @member, :image,fallback: "noimage.jpg",size:"150x150" %>

</div>

<div>
 <%= "ニックネーム" %>
 <%= @member.nickname %>
</div>

<div>
 <%= "性別" %>
 <%= @member.sex %>
</div>

<div>
 <%= "生年月日" %>
 <%= @member.birthday %>
</div>

<div>
 <%= "メールアドレス" %>
 <%= @member.email %>
</div>
<div>
 <%= "趣味" %>
 <%= @member.hobby %>
</div>

<div>
 <%= "仕事" %>
 <%= @member.job %>
</div>

<div>
 <%= "自己紹介" %>
 <%= @member.introduction %>
</div>

<div>
 <%= "フォロー中" %>
 <%= link_to @member.followings.count, member_followings_path(@member) %>
</div>

<div>
 <%= "フォロワー" %>
 <%= link_to @member.followers.count, member_followers_path(@member) %>
</div>

<% @requests.each do |req| %>
<div><%= link_to req.title,request_path(req) %></div>
<div><%= req.schedule %></div>
<div><%= req.location %></div>
<div><%= req.is_active %></div>
<% end %>

<% unless @member == current_member %>
  <%= render 'members/relationships/follow_button',member: @member %>
<% else %>
  <%= link_to "プロフィール編集", edit_member_path(@member) %>
<% end %>

<%= paginate @requests %>