<div class="container mt-3 mb-3 px-0">
  <div class="card mt-5">
    <div class="row">
      <div class="col-4 pt-3 ml-3">
          <%= attachment_image_tag @member, :image,fallback: "noimage.jpg",size:"180x180" ,class:"rounded-circle border border-dark"%>
      </div>
      <!--<div class=" offset-1"></div>-->
      <div class="col-7">
        <div class="row text-center mt-5">
          <div class="col">
            <%= link_to member_followings_path(@member),class:"text-dark" do %>
              <%= @member.followings.count %></br>
              <small>フォロー</small>
            <% end %>
          </div>
          <div class="col">
            <%= link_to member_followers_path(@member) ,class:"text-dark" do %>
              <%= @member.followers.count %></br>
              <small>フォロワー</small>
            <% end %>
          </div>
          <div class="col">
            <%= link_to main_path(@member) ,class:"text-dark" do %>
              <%= @requests.count %></br>
              <small>投稿数</small>
            <% end %>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
           <%= link_to "評価一覧", member_rates_path(@member) ,class:"btn btn-outline-dark btn-block" %>
        <% unless @member == current_member %>
          <%= render 'members/relationships/follow_button',member: @member %>
        <% else %>
          <%= link_to "プロフィール編集", edit_member_path(@member) ,class:"btn btn-outline-dark btn-block" %>
        <% end %>
          </div>
        </div>
      </div>
      </div>
    <div class="card-body">
      <div class="h4"><%= @member.nickname %><small class=="ml-2">（<%= @member.sex_i18n %>・<%= @member.age %>歳）</small></div>
      <table class="table">
        <tbody>
           <tr>
             <th><%= "趣味" %></th>
             <th><%= @member.hobby %></th>
           </tr>
           <tr>
             <th><%= "仕事" %></th>
             <th><%= @member.job %></th>
           </tr>
           <tr>
             <th><%= "自己紹介" %></th>
             <th><%= safe_join(@member.introduction.split("\n"),tag(:br)) unless @member.introduction.nil? %></th>
           </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



