<% if @model != "Request" %>
<div class="container mt-3 px-0">
  <div class="row">
    <% if @search.present? %>
      <h5><strong>"<%= @search %>"</strong>の検索結果</h5>　:<%= @members.count %>件
        <% if @requests.count == 0 %>
          <div class="col">他のキーワードで検索してみましょう。</div>
        <% end %>
    <% else %>
      <% unless @members.present? %>
        <p>ユーザーはいません。</p>
      <% else %>
        <p>全ユーザーを表示します。</p>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <% @members.each do |member| %>
    <div class="col-6 mt-3">
      <div class="card " style="width: 20rem;">
        <div class="card-body text-center ">
           <div><%= attachment_image_tag member, :image, fallback: "noimage.jpg",size:"50x50" ,class:"rounded-circle border border-dark"%></div>
          <div class="border-bottom"><%= link_to member.nickname, member_path(member) ,class:"text-dark" %></div>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th><%= "趣味 " %></th>
                <th><%= member.hobby.truncate(10) unless member.hobby.nil? %></th>
              </tr>
              <tr>
                <th><%= "フォロー中" %></th>
                <th><%= link_to member.followings.count, member_followings_path(member),class:"text-dark" %></th>
              </tr>
              <tr>
                <th><%= "フォロワー" %></th>
                <th><%= link_to member.followers.count, member_followers_path(member),class:"text-dark" %></th>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <div><%= render 'members/relationships/follow_button',member: member %></div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
   <div class="row mt-3 mb-3 justify-content-center"> <%= paginate @members %></div>
</div>
<% else %>
<div class="container mt-3 px-0">
  <div class="row">
    <% if @search.present? %>
      <h5><strong>"<%= @search %>"</strong>の検索結果</h5>　:<%= @requests.count %>件
        <% if @requests.count == 0 %>
          <div class="col">他のキーワードで検索してみましょう。</div>
        <% end %>
    <% else %>
      <% unless @requests.present? %>
        <p>取引ができる投稿はありません。</p>
      <% else %>
        <p>全投稿を表示します。</p>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <% @requests.each do |req| %>
    <div class="col-6 mt-3">
      <div class="card " style="width: 20rem;">
        <div class="card-body text-center ">
          <div><%= attachment_image_tag req.member, :image, fallback: "noimage.jpg",size:"50x50" ,class:"rounded-circle border border-dark"%></div>
          <div class="border-bottom"><%= link_to req.member.nickname, member_path(req.member) ,class:"text-dark" %></div>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th><%= "タイトル " %></th>
                <th><%= req.title.truncate(10) %></th>
              </tr>
              <tr>
                <th><%= "予定日" %></th>
                <th><%= req.schedule.strftime("%Y年%m月%d日 ")  %></th>
              </tr>
              <tr>
                <th><%= "場所" %></th>
                <th><%= req.location.truncate(10) %></th>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <%= link_to "詳細を見る",request_path(req),class:"btn btn-outline-dark btn-block" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="row mt-3 mb-3 justify-content-center"> <%= paginate @requests %></div>
</div>
<% end %>

