<nav class="navbar navbar-expand-lg" style="background-color:#FFFF66;" >
  <div class="container">
    <span>
      <%= render 'layouts/search' %>
    </span>
    <div class="row justify-content-center">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="nav navbar-nav">
        <% if admin_signed_in? %>
          <li class="nav-item active">
            <%= link_to "管理者側会員一覧",admins_members_path, class: 'nav-link text-danger' %>
          </li>
          <li class="nav-item active">
            <%= link_to "問い合わせ一覧",admins_contacts_path, class: 'nav-link text-danger' %>
          </li>
          <li class="nav-item active">
            <%= link_to "管理者ログアウト",destroy_admin_session_path,method: :delete, class: 'nav-link text-danger' %>
          </li>
          <li class="nav-item active">
            <%= link_to "管理者ログイン",admin_session_path, class: 'nav-link text-danger' %>
          </li>
        <% elsif member_signed_in? %>
          <li class="nav-item">
            <%= link_to member_path(current_member), class: 'nav-link text-dark' do %>
              <i class="fas fa-house-user fa-2x"></i>
            <% end %>
          </li>
          <li class="nav-item active">
            <%= link_to notifications_path ,class: 'nav-link text-dark' do %>
            <i class="far fa-bell fa-2x"></i>
            <% end %>
          </li>
            <% if unchecked_notifications.any? %>
              <i class="far fa-circle fa-sm" style="color: red;"></i>
            <% end %>
          <li class="nav-item active">
            <%= link_to destroy_member_session_path,method: :delete, class: 'nav-link text-dark' do %>
              <i class="fas fa-sign-out-alt fa-2x"></i>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "新規登録", new_member_registration_path, class: 'nav-link text-dark' %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_member_session_path, class: 'nav-link text-dark' %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>