<!DOCTYPE html>
<html>
  <head>
    <title>Sharehobby</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless current_page?(new_member_registration_path) && (new_member_session_path) %>
    <header class="header">
    
      <%= render 'layouts/header' %>
    </header>
    <% end %>

    <main class="main">
      <%= flash[:error] %>
      <%= yield %>
    </main>

    <footer class="footer">
      <%= render 'layouts/footer' %>
    </footer>
  </boby>
</html>
