<!DOCTYPE html>
<html>
  <head>
    <title>Sharehobby</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--英語googlefont-->
    <!--<link rel="preconnect" href="https://fonts.googleapis.com">-->
    <!--<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
    <!--<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">-->

    <!--日本語googlefont-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_page?(root_path) %>
    <main>
      <%= yield %>
    </main>
    
    <% else %>
    
    <header class="header">
      <%= render 'layouts/header' %>
    </header>

    <main class="main">
      <div class="container mt-3">
        <div class="row">
          <div class="text-dark">
           <%= flash[:success] %>
          </div>
          <div class="text-danger">
            <%= flash[:error] %>
          </div>
        </div>
      </div>
      <%= yield %>
    </main>

    <footer class="footer">
      <%= render 'layouts/footer' %>
    </footer>
    
    <% end %>
  </boby>
</html>
